<footer>
  <div class="wrapper">
    <a href="team.html">Team</a>
    &bull;
    <a href="press.html">Press</a>
    &bull;
    <a href="http://app.flaredown.com/terms-of-service">Terms of Service</a>
    &bull;
    <a href="http://app.flaredown.com/privacy-policy">Privacy Policy</a>
    &bull;
    <a href="mailto:contact@flaredown.com">Contact</a>
    <br>
  </div>
  <br>
  <a href="https://heapanalytics.com/?utm_source=badge" rel="nofollow"><img style="width:108px;height:41px" src="//heapanalytics.com/img/badgeLight.png" alt="Heap | Mobile and Web Analytics" /></a>
</footer>
